{% extends 'base.html' %}

{% block title %}Car Maintenance History{% endblock %}

{% block content %}

<style>
body {
        font-family: 'Arial', sans-serif;
    color: #333;
    background-image: url("{{ url_for('static', filename='images/loginbackground.png') }}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    h2, h3{
        color: white;
    }
    p{
        color: darkred;
    }

</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Car</h2>
            <hr>
            <div class="card mt-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ car.image_url }}" class="card-img-top" alt="Car Image" style="width: 100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.make }} {{ car.model_number }}</h5>
                            <p class="card-text">Registration Number: {{ car.registration }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h3>Previous Appointments</h3>
            {% if appointments %}
            {% for appointment in appointments %}
            <div class="card mt-3">
                <div class="card-header">
                    <strong>Date:</strong> {{ appointment.date }} | <strong>Mechanic:</strong> {{ appointment.mechanic_name }}
                </div>
                <div class="card-body">
                    <p><strong>Desciption:</strong> {{ appointment.description }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No previous appointments found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
