{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<style>
    .container {
        width: 40%;
        margin: auto;
        padding-top: 50px;
    }

    h3 {
        text-align: center;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 40px;
        padding: 8px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 4px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
<div class="container">
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input 
        type="text"
         id="email" 
         name="email" 
         class="form-control" 
         placeholder="Enter your Email"
         />
         <label for="password">Password</label>
        <input 
        type="password"
         id="password" 
         name="password" 
         class="form-control" 
         placeholder="Enter your Password"
         />
            <br/>
            <div align="center">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
